@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

@layer components {
  .navlink{
    @apply text-2xl hover:text-gray-400
  }

  .restaurantTitle {
    @apply text-5xl
  }

  .orderLink {
    @apply text-3xl text-black
  }

  .currentPage {
    @apply underline text-black
  }

  .social-button {
    @apply hover:opacity-50;
  }

  .header {
    @apply text-5xl
  }

  .sub-header {
    @apply text-3xl
  }

  .main-text {
    @apply text-lg
  }

  .dropshadow {
    @apply drop-shadow-[0_4.2px_4.2px_rgba(0,0,0,0.8)]
  }

  .fa {
    padding: 15px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }

  .fa-twitter{
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
    background: #ad86e2;
    color: white;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
